body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
}

/* video */
.video, .matrix {
  position: absolute;
    width: 100%;
    height: 100%;
}
.videos {
    width: 25%;
    height: 200px;
    float: left;
    overflow: hidden;
}
.video {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.video img {
  min-width: 100%;
    height: 100%;
}
img.video {
  min-width: 100%;
    height: 100%;
}
.desc {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;  
}
.colophon {
  position: absolute;
  top: -120px;
  color: #fff;  
}
.colophon.next {
  background: #000;
  padding: 10px;
  margin: 12px 0;
}
.colophon.next a {
  font-size: 1.5em;
}
.colophon a:link, .colophon a:visited {
  color: #fff;
}
.colophon.next a {
  text-decoration: none;
}
.title { 
  left: 20px; 
}
.next {
  right: 20px;
}
.desc h2, .desc h5, .title h2 {
  margin: 0.5em 0;
  background: #000;
  padding: 0.5em;
}
.desc h2, .title h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.title small {
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: normal;
  font-size: 0.6em;
}
.desc h5 {
  display: inline;
}

